<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lập báo cáo tồn</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/baocao/ton.css" />
  </head>

  <body>
    <h1 id="title">Báo cáo tồn</h1>
    <section id="book-management">
      <form id="book-form" method="post" action="/ton/lapbaocaoton">
        <div id="main-form">

          <div class="mb-3 form-item">

            <select class="form-select" id="customerId" placeholder="Chọn tháng">
              <option value="{{data}}">{{data}}</option>
              <!-- Thêm các tùy chọn khác nếu cần -->
            </select>
          </div>

        </div>
        <div id="btn-list">
          <button type="submit" class="btn btn">Lập báo cáo</button>
        </div>
      </form>
      <div id="book-list">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" colspan="5" class="table-heading"><b>Báo cáo tồn</b></th>
            </tr>
            <tr>
              <th scope="col" colspan="5" id="selectedMonth">
                Tháng:
              </th>
            </tr>
            <tr>
              <th scope="col">stt</th>
              <th scope="col">Sách</th>
              <th scope="col">Tồn đầu</th>
              <th scope="col">Phát sinh</th>
              <th scope="col">Tồn cuối</th>
            </tr>
          </thead>
          <tbody>
            {{#each ctTon}}
              <tr>
                <th scope="row">{{@index}}</th>
                <td>{{MaSach.tensach}}</td>
                <td>{{TonDau}}</td>
                <td>{{TonCuoi}}</td>
                <td>{{PhatSinh}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () { // Get the necessary elements var
      selectElement = document.getElementById('customerId'); var monthTextElement =
      document.getElementById('selectedMonth'); // Add an event listener to the select element
      selectElement.addEventListener('change', function () { // Update the "Tháng: " text based on
      the selected value monthTextElement.textContent = 'Tháng: ' +
      selectElement.options[selectElement.selectedIndex].text; }); });
    </script>
  </body>

</html>