<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QL NHÀ SÁCH</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/sach/bansach.css" />
  </head>
  <body>
    <h1 id="title">Phiếu Bán Sách</h1>
    <section id="book-management">
      <div id="section1">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Mã Sách</th>
              <th scope="col">Tên Sách</th>
            </tr>
          </thead>
          <tbody>
            {{#each books}}
              <tr>
                <th scope="row">{{masach}}</th>
                <td>{{tensach}}</td>
              </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
      <div id="section2">
        <div class="top">
          <div class="table-top">
            <table class="table table-bordered align-middle">
              <thead>
                <tr>
                  <th scope="col">Mã CT hóa đơn</th>
                  <th class="text-center" scope="col">Tên Sách</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Đơn giá nhập</th>
                  <th scope="col">Tổng tiền</th>
                  <th scope="col">Thực hiện</th>
                </tr>
              </thead>
              <tbody>
                {{#each ctHoaDons}}
                  <tr>
                    <th scope="row">{{maHoaDon}}</th>
                    <td>{{book.tensach}}</td>
                    <td>{{soLuong}}</td>
                    <td>{{donGia}}</td>
                    <td>{{tongTien}}</td>
                    <td>
                      <button>
                        <img src="/img/icon-bin.svg" alt="" />
                      </button>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>

          </div>
          <div class="action">
            <form action="/sach/hoadon/taosach" method="post">
              <div class="action">
                <select id="bookName" class="form-select" name="bookName" aria-label="Sách">
                  <option selected>Chọn Sách</option>
                  {{#each books}}
                    <option value="{{tensach}}">{{tensach}}</option>
                  {{/each}}
                </select>
                <input
                  type="text"
                  class="form-control"
                  id="bookQuantity"
                  name="bookQuantity"
                  placeholder="Nhập số lượng"
                />
                <input
                  type="text"
                  class="form-control"
                  id="bookPrice"
                  name="bookPrice"
                  placeholder="Nhập giá"
                />
                <button type="submit" class="btn btn-primary">Thêm Sách</button>
              </div>
            </form>
          </div>
        </div>
        <div class="bottom">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Mã hóa đơn</th>
                <th scope="col">Mã khách hàng</th>
                <th scope="col">Ngày lập</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Thực hiện</th>
              </tr>
            </thead>
            <tbody>
              {{#each hoaDons}}
                <tr>
                  <th scope="row">{{maHD}}</th>
                  <td>{{makh.maKhachHang}}</td>
                  <td>{{ngaynhap}}</td>
                  <td>{{this.tongTien}}</td>
                  <td>
                    <button>
                      <img src="/img/icon-bin.svg" alt="" />
                    </button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <form class="btn-list" action="/sach/hoadon/taohoadon" method="POST">
            <select
              id="maKhachHang"
              name="maKhachHang"
              class="form-select"
              aria-label="Chọn thể loại"
            >
              {{#each khachHangs}}
                <option value="{{maKhachHang}}">{{maKhachHang}}</option>
              {{/each}}
            </select>
            <button type="button" class="btn btn-primary">Tạo hóa đơn mới</button>
            <button type="button" class="btn btn-secondary">Nhập hóa đơn</button>
            <button type="submit" class="btn btn-success">Lưu hóa đơn</button>
          </form>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>